html, body{
    font-family: 'Poppins', sans-serif;
}
#grad{
    background-image: linear-gradient(to bottom right,#4B086D, #ACC0FE)
}
.imaje
{
        height: auto;
        width: auto;
        max-height: 72px;
        max-width: 250px;
        line-height: 72px; /* whatever the fixed height of the bar is */
        vertical-align: middle;
}
.card
{
    margin: 2vw;
    margin-left: 5vw;
}