body{
    margin: 0px;
    background-color: wheat;
}
.container
{
    display: flex;
    flex-direction: column;
}
.nav{
    width: 100%;
    height: 80px;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}
.nav img{
    max-height: 50%;
    max-width: 50%;
}
.us
{
    position: relative;
    text-align: center;
    width: 100%;
    height: 30%;
    font-size: 50%;
}
.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Helvetica;
    font-size: 120px;
    -webkit-text-stroke: 1px black;
  }
.us img{
    width: 100vw;
    justify-content: center;
}
.buttons
{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}

.middle{
    justify-content: center;
    display: flex;
}
#arrange
{
    display:flex;
    flex-direction: column;
}